[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
robotframework = "*"
mock = "*"
robotframework-seleniumlibrary = "*"

[packages]
flask = "*"
xmltodict = "*"
arrow = "*"
apscheduler = "*"
requests = "*"

[requires]
python_version = "3.7"
